<template data-sly-template.head="${ @ page }">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" data-sly-use.headlibRenderer="headlibs.html" data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<sly data-sly-include="head.socialmedia.html"></sly>
	<sly data-sly-include="customheaderlibs.html"></sly>
	<sly data-sly-call="${headlibRenderer.headlibs @
                                designPath         = page.designPath,
                                staticDesignPath   = page.staticDesignPath,
                                clientLibCategories = page.clientLibCategories}"></sly>
</template>
